.biblioteca-header {
    background-color: #e8eff4;
    .header-container {
        margin: 0 auto;
        max-width: 96rem;
        .container-wrapper {
            display: flex;
            align-items: center;
            min-height: 70rem;
            padding-top: 8rem;
            .hero-content {
                width: 100%;
                max-width: 46rem;
                h1 {
                    font-family: "Jost", sans-serif;
                    font-weight: 500;
                    font-size: 8rem;
                    line-height: 1.1;
                }
                a {
                    font-style: "Jost", sans-serif;
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 1.6;
                }
            }
            .hero-image {
                min-width: 62rem;
                min-height: 57rem;
                margin-top: 1rem;
                margin-right: 2.8rem;
                padding-left: 3rem;
                img {
                    max-width: 100%;
                    display: inline-block;
                }
            }
        }
    }
}
