::ng-deep .p-tooltip.p-tooltip-bottom {
    margin-top: 0.5rem;
}

.card-content {
    position: relative;
    width: 20rem; // 26rem -> 30rem
    height: 25rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(204, 203, 203, 0.383);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        .info {
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            justify-content: flex-start;
            padding: 2rem;
        }

        .info h3 {
            display: flex;
            margin-bottom: 1.5rem;
        }
        .info p {
            transition: 0.3s ease;
        }

        .buttons {
            display: flex;
            align-items: center;
            margin-bottom: 5rem;
        }
    }

    @media (max-width: 2400px) {
    }

    @media (max-width: 1800px) {
    }

    @media (max-width: 1440px) {
        width: 28rem;
        height: 24rem;
    }

    @media (max-width: 1200px) {
        width: 25rem;
        height: 22rem;
    }

    @media (max-width: 900px) {
        width: 22rem;
        height: 18rem;
    }

    @media (max-width: 600px) {
        width: 18rem;
        height: 14rem;
    }
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background: rgba(68, 98, 141, 0.875);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease-in;
    padding: 1rem;

    h3 {
        margin: 0;
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 1rem;
    }
}

.buttons {
    display: none;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}
